In [1]:
import pandas as pd
import re

## Load Sequence Data 
To Determine Primers

In [23]:
sequences_df = pd.read_csv('sequences_all.tsv', delimiter='\t')
sequence_order_primer_type_df  = sequences_df.melt(id_vars= sequences_df.columns[0]) 
def funct_or_emo(string):
    if '-emo'in string:
        return 'emotional'
    if '-funct' in string:
        return 'functional'
    if '__' in string:
        return 'crosshair'
    return 'image'

def get_primed_image(string):
    if 'primer'in string:
        return re.search(r"-(?:emo|funct)-(.+)", string).group(1)
    return string
sequence_order_primer_type_df['primer-type'] =  sequence_order_primer_type_df.value.apply(funct_or_emo)
sequence_order_primer_type_df['primed-image'] =  sequence_order_primer_type_df.value.apply(get_primed_image)
sequence_order_primer_type_df

,Sequence name/ Order,variable,value,primer-type,primed-image
0,A,0,0_primer-funct-4_floor-cleaner-4,functional,4_floor-cleaner-4
1,B,0,0_primer-emo-4_floor-cleaner-4,emotional,4_floor-cleaner-4
2,C,0,123_primer-emo-2_car-inside-3,emotional,2_car-inside-3
3,D,0,123_primer-funct-2_car-inside-3,functional,2_car-inside-3
4,E,0,0_primer-funct-4_floor-cleaner-4,functional,4_floor-cleaner-4
...,...,...,...,...,...
1723,H,143,125_2_car-inside-3,image,125_2_car-inside-3
1724,I,143,20_1_kitchen,image,20_1_kitchen
1725,J,143,20_1_kitchen,image,20_1_kitchen
1726,K,143,23_4_floor-cleaner-1,image,23_4_floor-cleaner-1
1727,L,143,23_4_floor-cleaner-1,image,23_4_floor-cleaner-1

In [3]:
sequences_df.columns[0]

'Sequence name/ Order'

In [4]:
survey_df = pd.read_csv('Experiment check list - survey responses.tsv', delimiter='\t')
survey_df.head()

,Timestamp,Please write your Subject ID number,What is your gender?,What is your age?,Are you wearing glasses or contact lenses?,What is your first language?,Are you currently enrolled in a Cognitive Science course?,image 1 - face,image 2 - face,image 3 - face,image 4 - face,image 5 - face,image 6 - face,image 7 - face,image 8 - face,image 9 - face,image 10 - face
0,11/13/2019 20:33:49,P001,Female,26,NaN,NaN,NaN,5,4,4,5,3,2,3,4,4,3
1,11/15/2019 9:18:27,P002,Female,24,I am wearing neither.,Danish,Yes,5,4,4,2,1,5,3,1,1,4
2,11/15/2019 10:00:40,P003,Female,24,I am wearing neither.,Danish,No,5,5,5,5,5,5,3,5,5,3
3,11/15/2019 12:14:16,P004,Female,26,I am wearing neither.,Danish,No,5,5,5,5,4,5,5,5,4,5
4,11/15/2019 12:18:23,P005,Female,24,I am wearing neither.,Lithuanian,Yes,4,4,3,2,3,1,3,2,2,1

## Survey Data
#### Get stats for image ratings

In [5]:
image_cols = [col for col in survey_df.columns if 'image' in col]
image_ratings_df = pd.DataFrame(survey_df[image_cols].mean()).rename(columns={0:'mean'})
image_ratings_df['median'] = survey_df[image_cols].median()
image_ratings_df['stdev'] = survey_df[image_cols].std()
image_ratings_df

                     mean  median     stdev
image 1 - face   4.833333     5.0  0.379049
image 2 - face   4.733333     5.0  0.520830
image 3 - face   4.200000     4.5  0.961321
image 4 - face   4.166667     4.5  1.053183
image 5 - face   3.500000     3.5  1.224745
image 6 - face   3.366667     3.0  1.425950
image 7 - face   3.166667     3.0  1.147211
image 8 - face   3.033333     3.0  1.245221
image 9 - face   3.066667     3.0  1.201532
image 10 - face  2.833333     3.0  1.341212

In [6]:
image_ratings_df['mean'].mean()

3.6900000000000004

In [7]:
with open('image_ratings.tex','w') as rf:
    rf.write(image_ratings_df.to_latex(index=True))

In [8]:
subjects_df = pd.read_csv('Experiment check list - subjects.tsv', delimiter='\t')
subjects_df = subjects_df.join(survey_df)
subjects_df

,ID number,name,consent form,lights,TOBII ID,RecordingID,Duration (seconds),Weighted Gaze Samples (%),Gaze Samples (%),callibration,...,image 1 - face,image 2 - face,image 3 - face,image 4 - face,image 5 - face,image 6 - face,image 7 - face,image 8 - face,image 9 - face,image 10 - face
0,P001,Kornelija,n,"close window, full indoor",P001,Rec 01,457.8,63,64,y,...,5,4,4,5,3,2,3,4,4,3
1,P002,Clara,y,"close window, full indoor",P002,E_P002_rec01,492.4,60,62,y,...,5,4,4,2,1,5,3,1,1,4
2,P003,Tereza,y,"close window, full indoor",P003,F_p003_rec1,411.6,43,43,y,...,5,5,5,5,5,5,3,5,5,3
3,P004,NaN,y,"close window, full indoor",P004,A_p004_rec1,407.4,47,50,y,...,5,5,5,5,4,5,5,5,4,5
4,P005,NaN,y,"close window, full indoor",P005,B_p005_rec1,367.1,7,7,y,...,4,4,3,2,3,1,3,2,2,1
5,P006,NaN,y,"close window, full indoor",P006,C_p006_01,347.8,14,14,y,...,5,4,5,4,4,2,2,3,3,1
6,P007,NaN,y,"close window, full indoor",P007,D_p007_rec1,360.1,93,93,y,...,5,5,5,4,5,4,3,3,3,3
7,P008,NaN,y,"close window, full indoor",P008,E_p008_rec1,410.4,18,19,y,...,5,5,4,4,5,5,3,2,4,2
8,P009,NaN,y,"close window, full indoor",P009,F_009_rec1,391.7,49,49,y,...,5,5,2,5,3,4,4,2,2,2
9,P010,NaN,y,"close window, full indoor",P010,A_P010_rec1,479.6,53,53,y,...,5,5,5,3,3,3,4,3,4,2
10,P011,NaN,y,"close window, full indoor",P011,B_P011,441.1,87,89,y,...,4,4,5,3,2,1,1,2,4,3
11,P012,NaN,y,"close window, full indoor",P012,C_P012,355.6,92,95,y,...,5,5,5,4,4,2,3,3,2,3
12,P013,NaN,y,"close window, full indoor",P013,D_P013,441.9,97,98,y,...,5,3,3,2,4,3,2,2,2,1
13,P014,NaN,y,"close window, full indoor",P014,E_P014,462.6,65,65,y,...,5,5,4,4,3,4,5,3,3,4
14,P015,NaN,y,"close window, full indoor",P015,F_P015,420.6,90,91,y,...,4,5,3,4,3,2,2,3,2,2
15,P016,NaN,y,"close window, full indoor",P016,A_P016,407.5,95,95,y,...,4,5,4,5,2,4,2,1,3,2
16,P017,NaN,y,"close window, full indoor",P017,B_Rec 03,353.3,15,15,y,...,5,5,4,5,3,3,3,2,2,3
17,P018,NaN,y,"close window, full indoor",P018,C_Rec 04,406.0,93,93,y,...,5,5,2,5,1,3,3,3,1,2
18,P019,NaN,y,"close window, full indoor",P019,D_P019,419.5,89,89,y,...,5,5,5,5,4,5,3,4,2,2
19,P020,NaN,y,"close window, full indoor",P020,E_P020,458.7,78,78,y,...,5,5,4,5,3,2,4,4,4,1
20,P021,NaN,y,"close window, full indoor",P021,F_P021,597.4,89,92,y,...,5,5,5,5,2,1,1,1,4,1
21,P022,NaN,y,"close window, full indoor",P022,A_22_REC1,414.3,83,86,y,...,5,5,5,5,5,5,5,5,5,5
22,P023,NaN,y,"close window, full indoor",P023,B_P023_REC1,421.4,89,89,y,...,5,5,5,2,3,2,4,4,3,4
23,P024,NaN,y,"close window, full indoor",P024,C_024_REC1,373.9,92,93,y,...,5,5,4,5,2,3,2,4,2,5
24,P025,NaN,y,"close window, full indoor",P025,D_025_REC1,335.2,94,97,y,...,4,4,3,4,4,3,3,2,3,2
25,P026,NaN,y,"close window, full indoor",P026,E_026_REC1,414.5,58,58,y,...,5,5,3,4,4,2,2,2,2,2
26,P027,NaN,y,"close window, full indoor",P027,F_026-REC1,397.3,95,96,y,...,5,5,5,5,5,5,5,5,5,5
27,P028,NaN,y,"close window, full indoor",P028,A_028-REC1,372.3,76,76,y,...,5,5,5,4,5,5,3,5,4,4
28,P029,NaN,y,"close window, full indoor",P029,B_029,353.1,94,94,y,...,5,5,5,5,5,5,5,3,2,3
29,P030,NaN,y,"close window, full indoor",P030,C_030-1,332.7,56,61,NaN,...,5,5,5,5,5,5,4,3,5,5

In [37]:
def get_image_name(x):
    match = re.match(r"(.+\.png)", x)
    if match is not None:
        return '_'.join(match.group(0).split('.')[0].split('_')[1:])
    return None

def get_aoi_name(x):
    return x.split("_")[-2]

## First Fixation Duration

In [10]:
first_fixation_duration_df = pd.read_csv('summary-stats/First Fixation Duration.txt', delimiter='\t')
first_fixation_duration_df.head()

,Unnamed: 0,First Fixation Duration_14_5_car-front-seat.png_face_N,First Fixation Duration_14_5_car-front-seat.png_face_Mean,First Fixation Duration_14_5_car-front-seat.png_face_Max,First Fixation Duration_14_5_car-front-seat.png_face_Min,First Fixation Duration_14_5_car-front-seat.png_face_Sum,First Fixation Duration_14_5_car-front-seat.png_face_Median,First Fixation Duration_14_5_car-front-seat.png_face_Stdev,First Fixation Duration_14_5_car-front-seat.png_Rectangle 2_N,First Fixation Duration_14_5_car-front-seat.png_Rectangle 2_Mean,...,First Fixation Duration_57_9_furniture.png_Rectangle 3_Sum,First Fixation Duration_57_9_furniture.png_Rectangle 3_Median,First Fixation Duration_57_9_furniture.png_Rectangle 3_Stdev,First Fixation Duration_57_9_furniture.png_Not on AOI_N,First Fixation Duration_57_9_furniture.png_Not on AOI_Mean,First Fixation Duration_57_9_furniture.png_Not on AOI_Max,First Fixation Duration_57_9_furniture.png_Not on AOI_Min,First Fixation Duration_57_9_furniture.png_Not on AOI_Sum,First Fixation Duration_57_9_furniture.png_Not on AOI_Median,First Fixation Duration_57_9_furniture.png_Not on AOI_Stdev
0,P001,1,"0,22","0,22","0,22","0,22","0,22",-,1,"0,19",...,-,-,-,-,-,-,-,-,-,-
1,P002,1,"0,32","0,32","0,32","0,32","0,32",-,1,"0,01",...,"0,24","0,24",-,1,"0,17","0,17","0,17","0,17","0,17",-
2,P003,1,"0,39","0,39","0,39","0,39","0,39",-,-,-,...,"0,01","0,01",-,-,-,-,-,-,-,-
3,P004,1,"0,27","0,27","0,27","0,27","0,27",-,-,-,...,"0,25","0,25",-,1,"0,15","0,15","0,15","0,15","0,15",-
4,P005,-,-,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-

In [38]:
first_fixation_dur_df = first_fixation_duration_df.melt(
    id_vars=first_fixation_duration_df.columns[0])
first_fixation_dur_df = first_fixation_dur_df.rename(columns={"Unnamed: 0": "ID number"})
first_fixation_dur_df['metric'] = 'First Fixation Duration'
first_fixation_dur_df['image_AOI_measure'] = first_fixation_dur_df[[
    'metric', 'variable']].apply(lambda x: re.sub(x[0]+'_', '', x[1]), axis=1)

first_fixation_dur_df['image'] = first_fixation_dur_df['image_AOI_measure'].apply(get_image_name)
first_fixation_dur_df['AOI'] = first_fixation_dur_df['image_AOI_measure'].apply(lambda x: x.split("_")[-2])
first_fixation_dur_df['measurement'] = first_fixation_dur_df['image_AOI_measure'].apply(lambda x: x.split("_")[-1])
first_fixation_dur_df

,ID number,variable,value,metric,image_AOI_measure,image,AOI,measurement
0,P001,First Fixation Duration_14_5_car-front-seat.pn...,1,First Fixation Duration,14_5_car-front-seat.png_face_N,5_car-front-seat,face,N
1,P002,First Fixation Duration_14_5_car-front-seat.pn...,1,First Fixation Duration,14_5_car-front-seat.png_face_N,5_car-front-seat,face,N
2,P003,First Fixation Duration_14_5_car-front-seat.pn...,1,First Fixation Duration,14_5_car-front-seat.png_face_N,5_car-front-seat,face,N
3,P004,First Fixation Duration_14_5_car-front-seat.pn...,1,First Fixation Duration,14_5_car-front-seat.png_face_N,5_car-front-seat,face,N
4,P005,First Fixation Duration_14_5_car-front-seat.pn...,-,First Fixation Duration,14_5_car-front-seat.png_face_N,5_car-front-seat,face,N
...,...,...,...,...,...,...,...,...
6722,P027,First Fixation Duration_57_9_furniture.png_Not...,-,First Fixation Duration,57_9_furniture.png_Not on AOI_Stdev,9_furniture,Not on AOI,Stdev
6723,P028,First Fixation Duration_57_9_furniture.png_Not...,-,First Fixation Duration,57_9_furniture.png_Not on AOI_Stdev,9_furniture,Not on AOI,Stdev
6724,P029,First Fixation Duration_57_9_furniture.png_Not...,-,First Fixation Duration,57_9_furniture.png_Not on AOI_Stdev,9_furniture,Not on AOI,Stdev
6725,P030,First Fixation Duration_57_9_furniture.png_Not...,-,First Fixation Duration,57_9_furniture.png_Not on AOI_Stdev,9_furniture,Not on AOI,Stdev
6726,All Recordings,First Fixation Duration_57_9_furniture.png_Not...,"0,11",First Fixation Duration,57_9_furniture.png_Not on AOI_Stdev,9_furniture,Not on AOI,Stdev

In [39]:
analysis_columns = ['ID number','image', 'AOI', 'metric', 'measurement','value','Sequence'] 
first_fixation_dur_seq_df = first_fixation_dur_df.join(subjects_df.set_index("ID number"), on="ID number", rsuffix='_subject')[analysis_columns]
first_fixation_dur_seq_df

,ID number,image,AOI,metric,measurement,value,Sequence
0,P001,5_car-front-seat,face,First Fixation Duration,N,1,A
1,P002,5_car-front-seat,face,First Fixation Duration,N,1,E
2,P003,5_car-front-seat,face,First Fixation Duration,N,1,F
3,P004,5_car-front-seat,face,First Fixation Duration,N,1,A
4,P005,5_car-front-seat,face,First Fixation Duration,N,-,B
...,...,...,...,...,...,...,...
6722,P027,9_furniture,Not on AOI,First Fixation Duration,Stdev,-,F
6723,P028,9_furniture,Not on AOI,First Fixation Duration,Stdev,-,A
6724,P029,9_furniture,Not on AOI,First Fixation Duration,Stdev,-,B
6725,P030,9_furniture,Not on AOI,First Fixation Duration,Stdev,-,C
6726,All Recordings,9_furniture,Not on AOI,First Fixation Duration,Stdev,"0,11",NaN

In [41]:
sequence_order_primer_type_df

,Sequence name/ Order,variable,value,primer-type,primed-image
0,A,0,0_primer-funct-4_floor-cleaner-4,functional,4_floor-cleaner-4
1,B,0,0_primer-emo-4_floor-cleaner-4,emotional,4_floor-cleaner-4
2,C,0,123_primer-emo-2_car-inside-3,emotional,2_car-inside-3
3,D,0,123_primer-funct-2_car-inside-3,functional,2_car-inside-3
4,E,0,0_primer-funct-4_floor-cleaner-4,functional,4_floor-cleaner-4
...,...,...,...,...,...
1723,H,143,125_2_car-inside-3,image,125_2_car-inside-3
1724,I,143,20_1_kitchen,image,20_1_kitchen
1725,J,143,20_1_kitchen,image,20_1_kitchen
1726,K,143,23_4_floor-cleaner-1,image,23_4_floor-cleaner-1
1727,L,143,23_4_floor-cleaner-1,image,23_4_floor-cleaner-1

In [47]:
aoi_data_with_primers_df = pd.merge(sequence_order_primer_type_df, first_fixation_dur_seq_df, left_on=[
         'Sequence name/ Order', 'primed-image'], right_on=['Sequence','image'])
#aoi_data_with_primers_df[aoi_data_with_primers_df.image == '3_house'] .to_csv('test_results.csv') # test output
aoi_data_with_primers_df[aoi_data_with_primers_df['primer-type'] == 'functional']

,Sequence name/ Order,variable,value_x,primer-type,primed-image,ID number,image,AOI,metric,measurement,value_y,Sequence
0,E,6,75_primer-funct-3_house,functional,3_house,P002,3_house,face,First Fixation Duration,N,1,E
1,E,6,75_primer-funct-3_house,functional,3_house,P008,3_house,face,First Fixation Duration,N,1,E
2,E,6,75_primer-funct-3_house,functional,3_house,P014,3_house,face,First Fixation Duration,N,1,E
3,E,6,75_primer-funct-3_house,functional,3_house,P020,3_house,face,First Fixation Duration,N,1,E
4,E,6,75_primer-funct-3_house,functional,3_house,P026,3_house,face,First Fixation Duration,N,1,E
...,...,...,...,...,...,...,...,...,...,...,...,...
5791,C,141,54_primer-funct-7_coffee,functional,7_coffee,P006,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,C
5792,C,141,54_primer-funct-7_coffee,functional,7_coffee,P012,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,C
5793,C,141,54_primer-funct-7_coffee,functional,7_coffee,P018,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,C
5794,C,141,54_primer-funct-7_coffee,functional,7_coffee,P024,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,C
5795,C,141,54_primer-funct-7_coffee,functional,7_coffee,P030,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,C

In [48]:
aoi_data_with_primers_df[aoi_data_with_primers_df['primer-type'] == 'emotional']

,Sequence name/ Order,variable,value_x,primer-type,primed-image,ID number,image,AOI,metric,measurement,value_y,Sequence
105,F,6,75_primer-emo-3_house,emotional,3_house,P003,3_house,face,First Fixation Duration,N,1,F
106,F,6,75_primer-emo-3_house,emotional,3_house,P009,3_house,face,First Fixation Duration,N,1,F
107,F,6,75_primer-emo-3_house,emotional,3_house,P015,3_house,face,First Fixation Duration,N,1,F
108,F,6,75_primer-emo-3_house,emotional,3_house,P021,3_house,face,First Fixation Duration,N,1,F
109,F,6,75_primer-emo-3_house,emotional,3_house,P027,3_house,face,First Fixation Duration,N,1,F
...,...,...,...,...,...,...,...,...,...,...,...,...
5875,D,141,54_primer-emo-7_coffee,emotional,7_coffee,P025,7_coffee,Not on AOI,First Fixation Duration,Median,"0,16",D
5876,D,141,54_primer-emo-7_coffee,emotional,7_coffee,P007,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,D
5877,D,141,54_primer-emo-7_coffee,emotional,7_coffee,P013,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,D
5878,D,141,54_primer-emo-7_coffee,emotional,7_coffee,P019,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,D
5879,D,141,54_primer-emo-7_coffee,emotional,7_coffee,P025,7_coffee,Not on AOI,First Fixation Duration,Stdev,-,D